<div class="pd-2">
    LOGOS
    <hr>
</div>
<div class="row pd-2">
    <div class="col-10">
        My Projects
    </div>
    <div class="col-2">
        <button (click)="add()" class="btn btn-danger">Add Project</button>
    </div>
</div>
<hr>

<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Project Info</th>
            <th scope="col">Project Manager</th>
            <th scope="col">Assingned to</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                Landing Page
                <br>
                Creation date 09/09/2020 10:30am
            </td>
            <td>
                Walt Cosani
            </td>
            <td><i class="fas fa-user"></i> Ignacio Trufa</td>
            <td>
                <button type="button" class="btn btn-light">Enabled</button>
            </td>
            <td><i class="fas fa-ellipsis-v"></i></td>
          </tr>
          <tr>
            <td>
                E-commerce Shop
                <br>
                Creation date 09/09/2020 10:30am
            </td>
            <td>Walt Cosani</td>
            <td><i class="fas fa-user"></i> Ignacio Trufa</td>
            <td><button type="button" class="btn btn-light">Enabled</button></td>
            <td><i class="fas fa-ellipsis-v"></i></td>
          </tr>
          <tr>
            <td>
                CRM Linkroom
                <br>
                creation date 09/09/2020 10:30am
            </td>
            <td> Walt Cosani</td>
            <td><i class="fas fa-user"></i> Ignacio Trufa</td>
            <td><button type="button" class="btn btn-light">Enabled</button></td>
            <td>
                <i (click)="edit()" class="fas fa-ellipsis-v"></i>
            </td>
          </tr>
        </tbody>
      </table>
</div>
